<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List</title>
    
    <link rel="stylesheet" type="text/css" href="css/gameinfo.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
</head>
<div class="home-banner">
    <div class="logo"> <a href="/"> <img src="images/Controller_image.png"> </a> </div>
    <header> <h1>My VideoGame List </h1>
    </header>

</div>

<%- include ("./templates/navbar") %>


    
</body >
<!-- seccion con la informacion de los juegos -->
<div class="game-section" id="search-results">

    <% for (var i= 0;i < resultsAPI.length; i++) { %>
        <tr>
          <!-- -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <a href="/gameinfo/<%= resultsAPI[i].id%>"> <div class="advisor_thumb"><img src=<%= urlArray[i] %> alt=""></a>

                <div class="actions"><a href="#"><i class="fa fa-trash"></i></a><a href="#"><i class="fa fa-comment"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h3><%= resultsAPI[i].name %> </h3>
                <td>
                    <form action="/saveFav/<%= resultsAPI[i].id%>" method="post">
                       <button class="btn-add" type="submit">
                       Add to favorites
                       </button>
                      </form>
                </td>
              </div>
              
            </div>
          </div>
          <!--
          <div class="top-rated-game">
            <h2 class="Game-name"> <%= resultsAPI[i].name %> </h2>
            <h3 class="Game-ID"> ID: <%= resultsAPI[i].id %> </h2>
            <a href="/gameinfo/<%= resultsAPI[i].id%>"> <img class = "Game-image" src= <%= urlArray[i] %>  > </a>
            <td>
                <form action="/saveFav/<%= resultsAPI[i].id%>" method="post">
                   <button class="btn-add" type="submit">
                   Add to favorites
                   </button>
                  </form>
            </td>
            
            
            
          </div>-->
          <!-- -->
      </tr>
    
      <% } %>
    <!-- en que parte se pondria la funcinoalidad del boton?-->

</div>
    


        <footer class ="page-footer">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          
            
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            
