<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List</title>
    
    <link rel="stylesheet" type="text/css" href="css/gameinfo.css">
    
</head>
<div class="home-banner">
    <div class="logo"> <a href="/"> <img src="images/Controller_image.png"> </a> </div>
    <header> <h1>My VideoGame List </h1>
    </header>
    <div class="login-div">
        <p>
        <a href="/login"> <button class="btn-login"> Log Out </button> </a> 
        </p>
    </div>

</div>

<nav>
    <div class="navbar">
        <ul class="menu">
            <li>What are you looking for, <%= userName %> ? </li>
            <li> <a href="/userpage">  Profile <br>  </a>  </li>
            <li> <a href="/">  Home <br> </a>  </li>
        </ul>
    </div>
</nav>

<body>
    <div class="search-container">
        <form class="form-search" action ="/searchGames" method = "POST">
            <input class ="form-input" type="search" placeholder="Legend of Zelda" name="search" value="<%= query %>">
            <button type="submit">Search</button>
        </form>
    </div>
    
    
</body>
<!-- seccion con la informacion de los juegos -->
<div class="game-section" id="search-results">

    <% for (var i= 0;i < resultsAPI.length; i++) { %>
        <tr>
          <!-- -->
          <div class="top-rated-game">
            <h2 class="Game-name"> <%= resultsAPI[i].name %> </h2>
            <h3 class="Game-ID"> ID: <%= resultsAPI[i].id %> </h2>
            <a href="/gameinfo/<%= resultsAPI[i].id%>"> <img class = "Game-image" src= <%= urlArray[i] %>  > </a>
            <td>
                <form action="/saveFav/<%= resultsAPI[i].id%>" method="post">
                   <button class="btn-add" type="submit">
                   Add to favorites
                   </button>
                  </form>
            </td>
            
            
            
          </div>
          <!-- -->
      </tr>
    
      <% } %>
    <!-- en que parte se pondria la funcinoalidad del boton?-->

</div>
    


        <footer class ="page-footer">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          
            
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            
