<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List</title>
    
    
    
</head>
<body>
<div class="home-banner">
    <div class="logo"><img src="../images/Controller_image.png"></div>
    <header> <h1>REVIEW</h1>
    </header>

</div>
<style>
    * {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:black;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
.topnav button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
    </style>
    <nav>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/userpage">Profile</a>
            <a href="/findgames">Search</a>
            <a href="/login">Log Out</a>
          <form class="form-search" action ="/searchGames" method = "POST">
              <div>
              <input class ="form-input" type="text" placeholder="Legend of Zelda" name="search">
              <span>
              <button type="submit" class="button condensed new">Search</button></span>
              </div>
          </form>
        
        
          </div>
    </nav>
    <!--INSERTADA EN ESTE PUNTO PARA QUE EL DISEÑO SEA CONSISTENTE-->
    <link href="../css/gameinfo.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">

<!-- seccion con la info del usuario
    apoyarse del API-->
    <div class="game-name">
        <p> 
            <%= gameData[0].name %> 
        </p>
    </div>
<!-- seccion con la informacion del juego-->

<div class="container">
    <div class="game-cover">
         <!-- nombre del parametro-->
        <!-- valor del parametro del api-->
            
        <img class = "Game-image" src= <%= url %> >
    
    </div>
    <div class="game-data">
        <!-- nombre del parametro-->

        <!-- valor del parametro del api-->

        <!-- nombre del parametro-->
        <h1>Description</h1>
        <!-- valor del parametro del api-->
            <p>
                <%= gameData[0].summary %>

            </p>
            <section>
            <form action="/review/<%= gameData[0].id%>" method="post">
                <section>
                <h1>Your Rating</h1>
                <input class ="form-input" type="number" placeholder ="Put from 0-100"name="score">
                <h1>Your Review</h1>
                <textarea class ="form-input" name = "reviewContent" cols="80" 
                placeholder="What are your thoughts on this game?"></textarea>
                </section>
                <button class="button condensed save" type="submit" value= "<%= exist ? 'Update review' : 'Add review' %>"> Write or update your review</button>
               </form>   
            </section>            
    </div>
</div>

</body>
