<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List</title>
    
    <link rel="stylesheet" type="text/css" href="css/userpage.css">
    
</head>
<body>
<div class="home-banner">
    <div class="logo"><img src="images/Controller_image.png"></div>
    <header> <h1>My VideoGame List </h1>
    </header>
    <div class="login-div">
        <p>
        <a href="/logout"> <button type ="buttun" class="btn-logoff"> Log Out </button> </a> 
        </p>
    </div>

</div>

<nav>
    <div class="navbar">
        <ul class="menu">
            <li><a href="/">  Home <br> </a>  </li>
        </ul>
    </div>
</nav>

<!-- seccion con la info del usuario
    apoyarse del API-->
    <div class="user-info">
        <p><%= user[0].email%>
        </p>
    </div>
<!-- seccion con los juegos favoritos del usuario
    apoyarse del API-->
<div class="game-section">
    <h1>Favorite Games
    </h1>
    <div class="game-section" id="search-results">
        <% for (var i= 0;i < gameData.length; i++) { %>
            <tr>

            <div class="top-rated-game">
                <h2 class="Game-name"> <%= gameData[i].name %> </h2>
                <h3 class="Game-ID"> ID: <%= gameData[i].id %> </h2>
                    <a href="/gameinfo/<%= gameData[i].id%>"> <img class = "Game-image" src= <%= url[i] %>  > </a>
                <td>
                    <form action="/deleteFav/<%= gameData[i].id%>" method="post">
                    <button class="btn-add" type="submit">
                    Delete from favorites
                    </button>
                    </form>
                </td>
                
                
                
            </div>

        </tr>
        
        <% } %>
    </div>
    <p hidden>
        <a href="/gameinfo">  Game Info  </a> 
    </p>

</div>

<footer class ="page-footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
    
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>
