<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List</title>
    
    <link rel="stylesheet" type="text/css" href="css/userpage.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div class="home-banner">
    <div class="logo"><img src="images/Controller_image.png"></div>
    <header> <h1>My VideoGame List </h1>
    </header>

</div>

<%- include ("./templates/navbar") %>

<!-- seccion con la info del usuario
    apoyarse del API-->
    <div class="user-info">
        <p><%= user[0].email%>
        </p>
    </div>
<!-- seccion con los juegos favoritos del usuario
    apoyarse del API-->
    <section>
        <div>
            <h1>Favorite Games
            </h1>
        </div>

    <div class="game-section" id="search-results">
        <% for (var i= 0;i < gameData.length; i++) { %>
            <tr>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                      <!-- Team Thumb-->
                      <a href="/gameinfo/<%= gameData[i].id%>"> <div class="advisor_thumb"><img src=<%= url[i] %> alt=""></a>
                        <!-- Social Info-->
                        <div></div>
                      </div>
                      <!-- Team Details-->
                      <div class="single_advisor_details_info">
                        <h1><%= gameData[i].name %> </h1>
                        <form action="/deleteFav/<%= gameData[i].id%>" method="post">
                            <button class="button primary delete" type="submit">
                            Delete from favorites
                            </button>
                            
                            </form>
                            <a href="/review/<%= gameData[i].id%>">
                                <button class="button primary edit">
                                    Write a review!
                                </button></a>
                      </div>
                    </div>
                  </div>
        
        </tr>
        
        <% } %>
    </div>
</section>
    <!--PONER ESPACIO PARA QUE SE VEAN MEJOR LAS COSAS-->
    <section>
    <div>
        <h1>GAME REVIEWS</h1>
    </div>
    


    <div class="game-section" id="search-results">
        <% for (var i= 0;i < reviews.length; i++) { %>
            <tr>
            <div class="top-rated-game">
                <h2 class="Game-Score">Score: <%= reviews[i].score%> </h2>
                <h2 class="Game-name">My review: </h2>
                <p> <%= reviews[i].reviewContent %></p>
                <h3 hidden class="Game-ID"> ID: <%= reviews[i].gameID %> </h2>
                <img class = "Game-image" src= <%= reviews[i].imageURL%>>
                <form action="/deleteReview/<%= reviews[i].gameID%>" method="post">
                    <button class="button primary delete" type="submit">
                    Delete review
                    </button>
                    </form>
            </div>
            </tr>
        
        <% } %>
    </div>

    <p hidden>
        <a href="/gameinfo">  Game Info  </a> 
    </p>


</section>
<footer class ="page-footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
    
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    
</body>
</html>